body {
    font-family: "Trebuchet MS";
}
.menu {
    display: flex;                  /* affichage en flexbox */
    padding:0;                      /* Pas de marges internes */
    background-color: #ccc;         /* couleur d'arrière-plan */
    justify-content: space-around;  /* Alignements entre les liens du menu */
}
.menu li {
    list-style-type: none ;         /* Enlever les puces pour les éléments du menu */
  
}
.menu a {
    display:block;                  /* affichage en bloc */
    min-width: 120px;               /* Largeur minimale des liens */   
        
    margin: 0.5rem;                 /* Marges externes */
    padding: 0.4rem 0;              /* Marges internes */
    text-align: center;             /* Centrer le texte */   
    background-color: #1a94bc;      /* Couleur de l'arrière-plan */
    color: #fff;                    /* Couleur du texte */
    text-decoration: none;          /* Enelever le soulignement */
    border: 1px solid #fff;         /* Mettre une bordure */
    border-radius: 4px;             /* bordures arrondis */
        
    transition: all 1s ;            /* Effets de transition pendant 1 seconde */
}
.menu a.actif {    
    background-color: #004c8a ; 
    color: #ffffff ;
    border-color: #000000 ;
}
.menu a:hover,
.menu a:hover.actif{
    background-color: #004c8a ;
    color: #ffffff ;                /* Couleur du texte */
    border-color: #000000 ;         /* Couleur de l'arrière-plan */
}

h1 {
    width: 1000px;                  /* largeur à 1000px */
    margin: 0 auto;
    background: white;
    text-align: center;
}

p {                                 /* Alignement des paragraphes au milieu sur fond bland sans marge avec une largeur de 1000px */
    width: 1000px;
    margin: 0 auto;
    background: white;
    text-align: center;
}

form {
  /* Uniquement centrer le formulaire sur la page */
  margin: 0 auto;
  width: 600px;
  /* Encadré pour voir les limites du formulaire */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

form div + div {
  margin-top: 2em;
}

label {
  /* étiquettes sont de la même taille et correctement alignées */
  display: inline-block;
  width: 200px;
  text-align: right;
}

input, textarea {
  /* les champs texte ont la même police.
     Par défaut, les textarea ont une police monospace */
  font: 1em sans-serif;

  /* Champs de même dimensions  */
  width: 300px;
  box-sizing: border-box;


  border: 2px solid #999;
}

input:focus, textarea:focus {
  /* souligner les éléments actifs */
  border-color: #000;
}

textarea {
  /* aligner les champs texte multi‑ligne avec leur étiquette */
  vertical-align: top;

  /* donner de la place pour écrire du texte */
  height: 5em;
}

.button {
  /* boutton à la même place que le champ texte */
  padding-left: 90px; /* la même taille que les étiquettes */
}

button {
  /* Cette marge supplémentaire  */
  margin-left: .5em;
}

img {                       /* Emplacement de l'image en bas à gauche */
  width: 150px;
  position: absolute;
  top: 95%;
  left: 95.5%;
  transform: translate(-50%, -50%);
}
